{{#> layout currentPage='Blog'}}

        <h1 class="title-top mt-3">Pokemon</h1>
        <div class="button-container">
            <a href="/blog-create">
                <button id="btn" class="btn btn-success activetwo">Add Hero</button>
            </a>
            <a href="/blog-type">
                <button id="btn" class="btn btn-success activetwo">Add Type</button>
            </a>
        </div>         
        <div class="blog-container">

        {{#each blogs}}
            <div class="blog-card" style="user-select: none;">
                <img src="{{this.image}}" alt="Pokemon">
                <h3>{{this.title}}</h3>
                <p>{{this.pokemontype}}</p>
                <div class="blog-card-buttons">
                    <div class="button-wrapper">
                        <a href="/blog/{{@index}}">
                            <button class="btn btn-primary w-100">Detail</button>
                        </a>
                    </div>
                    <div class="button-wrapper">
                        <form action="/blog/{{@index}}?_method=DELETE" method="post">
                            <button onclick="return confirm('Delete beneran?')" class="btn btn-danger w-100" type="submit">Delete</button>
                        </form>
                    </div>
                    <div class="button-wrapper">
                        <a href="/blog-edit/{{@index}}">
                            <button class="btn btn-success w-100">Edit</button>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}

{{/layout}}